body {
  background-color: lightblue;
}

h1 {
  text-align: center;
}

.container {
  width: 100%;
  margin: 50px 0;
  padding: 0;
}

.row {
  margin: 5px 0;
}

.track {
  background-color: darkgray;
  padding: 0;
  margin: 5px 0;
}

.grid {
  border: 1px solid yellow;
  text-align: center;
  padding: 0;
  height: 50px;
}

.game-piece {
  border: 1px solid black;
  height: 20px;
  width: 30px;
  margin: 13px auto;
  border-radius: 5px;
}